<ion-view view-title="EventUs :: A Tinder for Events" hide-nav-bar="true" class="splash-page" ng-controller="AuthCtrl">
  <ion-content scroll="false">

  <div class="logo">
      <img src="../img/logo.png">
  </div>

    <form name="signinForm" novalidate ng-submit="signinForm.$valid && signin()" class="css-form">
      <!-- <div class="list"> -->

      <div class="signin">
        <label class="item item-input">

        <input type="text" placeholder="Zip Code"ng-pattern="user.pattern" name="input" ng-required="true" ng-model="user.zip" ng-minlength="5" required>
        
      </div>
      <button class="signin button-dark button button-block button-positive" ng-disabled="signingForm$invalid" type="submit">Sign In With Google</button>

  </ion-content>
</ion-view>
